.hide{
    display: none;
}
.caixin{
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: url(../../images/olympic/bg.jpg) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    max-width: 640px;
    margin: 0 auto;
}
.lottery {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden
}
.pgb{
    height:auto;
    min-height:100%;
    padding-bottom:3rem;
}
.img_top {
    padding-top: 1rem
}
.luck_img_1 {
    width: 100%;
    margin: 0 auto
}
.lottery_zhuan{
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}
.turnplate{
    width: 91%;
    display: block;
    margin: 1.5rem auto 20px;
    background: url(../../images/yuanpan.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;

}
.deng.tf{
    background:url(../../images/zhuan1.png) 0 0 no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    -webkit-animation:dian 800ms infinite;
    -webkit-backface-visibility:hidden
}
@-webkit-keyframes dian{
    50%{background-image:url(../../images/zhuan2.png);
        background-size:100% 100%;-webkit-background-size:100% 100%
    }
    100%{background-image:url(../../images/zhuan1.png);background-size:100% 100%;
        -webkit-background-size:100% 100%
    }
}
.deng{
    display: block;
    padding: 7.5%;
    position: relative;
    margin: 0 auto;
    background-image: url(../../images/zhuan1.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.turntableimg{
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.rotate{
    width: 28%;
    position: absolute;
    top: 24%;
    left: 36%;
    z-index: 2;
}
.rora_bg{
    width: 21%;
    margin: -2rem auto 0;
}
.w_lottery_footer {
    color: #c5eaff;
    font-size: .93rem;
    text-align: center;
    position: absolute;
    bottom: 0.6rem;
    width: 100%;
    left: 0;
}
.w_lottery_footer a {
    color: #cfd26d;
    text-decoration: underline;
}
/****中奖提示***/
.luck{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:rgba(0,0,0,.6);
    z-index: 7;
}
.luck_box{
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -11rem;
    z-index: 8;
}
.luck_bg{
    width: 92%;


}
.luck_con{
    width:56.43%;
    margin:0 auto;
    position: absolute;
    top: 7%;
    z-index: 9;
    left: 21%;
}
.luck_title_img{
    width: 59%;
    margin: 0 auto;
}
.luck_text{
    padding: 35% 2% 0;
}
.lt{
    color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    height: 3rem;
    overflow: hidden;
}
.luck_jp{
    color: #ffcc00;
    font-size: 1rem;
    line-height: 1.2;
}
.duihuan{
    padding: 0.7rem 0 1.5rem;
    font-size: 0.9rem;
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}

.downlink{
    display: block;
    width: 80%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    background: #ffcc00;
    margin: 0 auto;
    font-weight: 800;
    font-size:1rem ;


}
/****index*****/
.index{
    width: 100%;
    height: 100%;
    min-height:100%;
}
.index_top{
    padding-top: 11%;
}

.index_btn{
    width: 100%;
    padding-top: 14%;
}
.rule_btn{
    width: 42.53%;
    margin: 0 auto;
}
.join_btn{
    width: 49.33%;
    margin: 1.375rem auto 0;
}

/**获取手机号****/
.get_phone{
    width: 100%;
    height:100%;
    min-height:100%;
}
.gp_top{
    padding-top: 5%;
}
.phonebox{
    padding-top: 10%;
}
.phonetip{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
}
.phonebtn,.lotterybtn{
    display: block;
    width: 84%;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    border: 0;
    font-size: 1.3rem;
    margin: 1rem auto 0;

}
.phonebtn{
    color: #2b69a8;
    background:#ffffff;
}
.lotterybtn{
    background:#ffc600;
    color: #ffffff;

}
/***活动规则****/
.rule{
    width: 90%;
    padding:0 5%;
    height:100%;

}
.ruletit1{
    width: 100%;
    position: relative;
    padding-top: 1.5rem;

}
.ruletit1 img,.ruletit{
    width: 27.87%;


}
.activitytime{
    position: absolute;
    top: 2.2rem;
    right: 0;
    color:#000000;
    font-size: 10px;

}
.ruleText{
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.2;
    padding: 1rem 0;
}
.smallword{
    font-size: 10px;
}
.rule_join_btn{
    width: 50%;
    margin: 1rem auto;
}