.ecup{
    width: 100%;
    min-height: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    background:url("../../images/ecup/phone_bg.jpg") 0 0 no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.shlogo{
    width: 30%;
    padding: 1rem 0 0 0.5rem;
}
.shlogo img{
    width: 100%;
}
.shbanner{
    width: 93.33%;
    margin: 1.2rem auto 0;
}
.teltext{
    width: 83.33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.75rem;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.5;
}
.tel{
    width: 83.33%;
    display: block;
    height: 2.875rem;
    text-align: center;
    line-height: 2.875rem;
    font-size: 1.2rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    border: 0;
    background: #ffffff;
    margin: 1.38rem auto 0;
}
input::-webkit-input-placeholder {
    　　color: #bebebe
　}
.golottery{
    width: 83.33%;
    display: block;
    height: 2.875rem;
    text-align: center;
    line-height: 2.875rem;
    font-size: 1.2rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    border: 0;
    background: #1e4bc5;
    color: #ffffff;
    margin: 1rem auto 0;
}
.exp{
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1.67rem;
}
footer{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
}
footer a{
    color: #ffe400;
}
.rule_href{
    width: 4.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    font-size: 1rem;
    color:#ffffff;
    background:url("../../images/ecup/question_icon.png") 0 center no-repeat;
    -webkit-background-size: 1rem 1rem;
    background-size: 1rem 1rem;
    padding-left: 1.3rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.hide{
    display: none;
}
.get_tel{
    width: 100%;
    min-height: 100%;
    padding-bottom: 3rem;
}
.rule{
    width: 100%;
    min-height: 100%;
    padding-bottom: 3rem;
}
.rule_text{
    font-size: 0.8rem;
    color: #ffffff;
    line-height: 1.3;
    padding: 0 2.6%;
}
.rule_text span{
    padding-left:1rem;
}
.rule_text b{
    padding-left:2rem;
    font-weight: normal;
}
.rule_banner{
    width: 92%;
    margin: 15px auto 0;
}
.rule_title{
    width: 90%;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    background:url("../../images/ecup/line.png") 0 center no-repeat;
    -webkit-background-size: 100% 1.1rem;
    background-size: 100% 1.1rem;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
}
.toogle_banner{
    width: 91.47%;
    margin: 5px auto;
}
.toggle_page{
    padding: 0 4.6%;
    width: 100%;
    overflow: hidden;

}
.page{
    width: 44%;
    margin-right: 2.9%;
    margin-top: 0.6rem;
    height: 100%;
    padding: 0;
    position: relative;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.page>div.back{
    backface-visibility: hidden;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.page>div .back img{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
.pai{
    width: 100%;
    position: relative;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.font{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.back.on {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.font.in{
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.toggle{
    width: 100%;
    min-height: 100%;
    padding-bottom: 3rem;
    overflow-x: hidden;
}
.pagebg{
    width: 100%;
    height: 100%;
    position: relative;
    background:url("../../images/ecup/pagebg.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

.canyu,.old_user,.zhichong{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    z-index: 3;
}
.prize_name{
    width: 88%;
    margin: 2rem auto;
}
.cztext{
    width: 88%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}
.olduser_img{
    width: 88%;
    margin: 2rem auto;
}
.prize_10{
    width: 90%;
    margin: 0 auto;
}
.downtext{
    width: 98%;
    text-align: center;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 10px;

}
.downbutton{
    width: 80%;
    text-align: center;
    height: 1.9rem;
    line-height: 1.9rem;
    color: #ffffff;
    font-size: 0.8rem;
    background: #ffbd00;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    display: block;
    margin: 1rem auto 0;


}
.duihuansrc{
    color: #ffffff;
    font-size: 10px;
    width: 96%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}
.peonum{
    position: absolute;
    width: 93%;
    bottom: 0.3rem;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    left:3.5%;
    z-index:4;
    background:rgba(0,0,0,.6);
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    overflow: hidden;


}
.content{
    white-space: nowrap;
    overflow:hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.nofocus{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}
.tipimg{
    width: 64.4%;
    margin: 50% auto 0;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}
.nav{
    height: 2.75rem;
    line-height: 2.75rem;
    background: #0b4d8d;
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: relative;
    left: 0;
    top: 0;
    z-index: 999;
    
}
.backclick{
    display: block;
    width: 15%;
    padding-left: 3%;
    height: 2.75rem;
    position: absolute;
    left:0;
    top:0;
    z-index: 9;
}
.backimg{
    width: 21%;
    margin-top: 0.9rem;
    max-width: 25px;
}