html,body{
    width: 100%;
    height:100%;
    overflow:hidden;
}
body{

}
.fatherday{
    position:relative;
    min-height:100%;
    height:100%;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
.bg{
    background: #fff3e3;
}
/* 动画css */
.swiper-slide { width: 100%; height: 100%; position: relative; text-align: center; display: block; }
.swiper-container { width: 100%; height: 100%; }

/* appDownload */


.yun_logo{
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 99;
    width: 21%;
    max-width:158px;

}
.quan_logo{
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 99;
    width: 34%;
    max-width:255px;
}
.hide{ display:none;}

.getphone,.duiquan{
    width: 100%;
    max-width: 640px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    background: #fff3e3;

}

.p1img_1 {
    height:auto;
    width:86%;
    max-width: 356px;
    margin:0 auto;
}
.pdt1{
    padding-top: 1.5rem;
}
.p1img_2 {
    height:auto;
    width:100%;
    text-align: center;
    color: #807f7e;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 30%;

}
.p1img_2_f2 {
    height:auto;
    width:100%;
    text-align: center;
    color: #807f7e;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 6%;

}
.f2_ft12{
    font-size: 12px;
    color: #807f7e;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.p1img_2_f2 span{
    color: #d76b2a;
}
.p1img_3 {
    height:auto;
    width:25px;
    position:absolute;
    left:50%;
    bottom: 20px;
    margin-left:-12px;
}
.p2img_1 {
    width:86%;
    max-width: 356px;
    margin: 1.5rem auto 0;
    z-index:2;
}
.p2img_2 {
    height:auto;
    width:100%;
    margin: 1em auto 0;
}
.down_quyu{
    padding-bottom: 2rem;
}

.put{
    height:1.875rem;
    line-height:1.875rem;
    font-size: 1rem;
    color: #807f7e;
    margin-bottom:6px;

}
.put input{
    display:inline-block;
    height:1.875rem;
    line-height:1.875rem;
    width: 3.75rem;
    text-align: center;
    color: #807f7e;
    font-size: 1.2rem;
    border:1px solid #974a11;
    border-radius:5px;
    margin:0 15px;
}
.getphone .img_1{
    width: 79%;
    max-width: 356px;
    margin:1.5rem auto 0;
}
.talktime{
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    color: #807f7e;

}
.time{
    color: #ff979f;
    font-size: 1.5rem;

}
.talk{
    padding-top: 1.3rem;
}
.input_phone{
    display:block;
    width:66.7%;
    height:2.44rem;
    line-height:2.44rem;
    border:1px solid #6c3030;
    border-radius:5px;
    margin:0.7rem auto 0;
    font-size: 1.2rem;
    color: #807f7e;
    text-indent: 10px;
}
.getquan{
    text-align: center;
    width:66.7%;
    height:2.44rem;
    line-height:2.44rem;
    background:#6c3030;
    border-radius:2rem;
    margin:1.5rem auto 0;
    font-size: 1.2rem;
    color: #ffffff;
}
.duiquan .img_1{
    width:90%;
    margin:3rem auto 0;
}
.lq{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #807f7e;

    line-height: 1.5;
}
.mgtb{
    margin:1rem auto ;
}
.mgtb1{
    margin: 1rem auto;
}
.yun_code{
    width: 100%;
    text-align: center;
    color: #807f7e;
    font-size: 10px;
    padding-bottom: 2rem;
}
.yun_code_big{
    width: 100%;
    text-align: center;
    color: #807f7e;
    font-size: 10px;
}
.yuncode_imgbig{
    width: 33%;
    margin: 1rem auto 3px;
}
.quancode_img{
    width: 45%;
    margin: 1rem auto;
}
.yuncode_img{
    width: 45%;
    margin: 1rem auto;
}
.down{
    display:block;
    width:70%;
    height:3rem;
    line-height:3rem;
    background:#3b4c57;
    border-radius:2rem;
    margin:0 auto;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}
.begin{
    width:70%;
    height:3rem;
    line-height:3rem;
    background:#974a11;
    border-radius:2rem;
    margin:1rem auto 0;
    font-size: 1.2rem;
    color: #ffffff;
}
.step{
    color: #807f7e;
    font-size: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    line-height: 1.3;
}
.pt-page-moveFromTop {
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
footer{
    bottom:5px;
    width: 100%;
    text-align: center;
    color: #b19e85;
    font-size: 12px;
}
footer a{
    color: #d39748;
}
@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

.pt-page-moveIconUp {
    -webkit-animation: moveToBottom ease 1.5s both infinite;
    animation: moveToBottom ease 1.5s both infinite;
}
@-webkit-keyframes moveToBottom {
    from { -webkit-transform: translateY(0%);}
    to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { -webkit-transform: translateY(0%);}
    to { -webkit-transform: translateY(100%);  }
}
.pt-page-moveCircle {
    -webkit-animation: moveCircle ease-in-out 2s both;
    animation: moveCircle ease-in-out 2s both;
}
@-webkit-keyframes moveCircle {
    0% {
        opacity:0.1;
        transform: scale(.1)

    }
    50% {
        opacity:1;
        transform: scale(1.2)

    }
    100% {
        opacity:1;
        transform: scale(1)

    }
}

@keyframes moveCircle {
    0% {
        opacity:0.1;
        transform: scale(.1)

    }
    50% {
        opacity:1;
        transform: scale(1.2)

    }
    100% {
        opacity:1;
        transform: scale(1)

    }
}
.focus_tip {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
}
.ft {
    width: 77.33%;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1rem 0;
    position: absolute;
    left: 50%;
    margin-left: -39%;
    top: 50%;
    margin-top: -15rem;
}
.shake_alert_img {
    width: 61.2%;
    max-width: 134px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.focusstep {
    color: #999;
    font-size: .85rem;
    line-height: 1.5;
    padding: 1rem 0 .3rem;
    width: 80%;
    margin-left: 12%;
}
.njyhcode {
    width: 47%;
    max-width: 131px;
    margin: 0 auto;
}
.njtip {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: .7rem;
    line-height: 1.3;
}