.jifenbg{
    background: #f0eff5;
}
.integral{
    width: 100%;
    min-height:100%;
    background: #f0eff5;
}
.integralbg{
    width: 100%;
    height: 11.39rem;
    padding:2.1rem 0;
    background:url("../images/jifenbg.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;

}
.gonggao{
    width: 100%;
    text-indent: 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #ffffff;
    font-size: 0.93rem;
    background:rgba(255,255,255,.3);
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/laba.png);
    background-repeat: no-repeat;
    -webkit-background-size: 1.25rem 1.25rem;
    background-size: 1.25rem 1.25rem;
    background-position: 0.6rem 0.6rem;

}
.text{
    height: 1rem;
    font-size: 0.93rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.number{
    font-size: 4.25rem;
    color: #ffffff;
    line-height: 1;
    text-align: center;
    padding-top: 1.66rem;
}
.rule span{
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.35rem;
    border:2px solid #ffffff;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 0.93rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.tel{
    height: 3.75rem;
    width: 100%;
    padding:1.25rem 0 2.75rem 0;
}

.telnum{
    display: block;
    background: #ffffff;
    height: 3.75rem;
    width: 100%;
    text-indent: 1rem;
    line-height: 3.75rem;
    color: #b2b2b2;
    font-size: 0.93rem;
}
.telnum:focus{
    color: #333333;
}
.duihuan{
    padding-left: 4%;
    background: #ffffff;

}
.iteam{
    height: 3.94rem;
    border-bottom: 1px solid #ebebeb;
    width: 100%;

}
.iteam label{
    width: 4.125rem;
    display: block;
    height: 3.94rem;
    line-height: 3.94rem;
    font-size: 0.93rem;
    color: #010101;
    text-align: left;
    float: left;
}

.iteam input{
    height: 1.6875rem;
    width: 4.1rem;
    line-height: 1.6875rem;
    text-align: center;
    display: block;
    float: right;
    margin:1.1rem 0.6rem 0 0 ;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #46b574;
    color: #46b574;
    font-size: 0.75rem;
    background: #ffffff;
}

.sign_ok_bg{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
}
.sign_ok_con{
    width: 69.6%;
    background:#fffff4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 1.9375rem;
    margin: 20% auto 0;

}

.sign_sucss_img{
    width: 65.38%;
    margin:0  auto;

}
.oktitle{
    line-height: 1.5;
    height: 1.2rem;
    text-align: center;
    color: #323232;
    font-size: 1.125rem;
    margin-top: 1.5rem;

}
.oktext{
    line-height: 1.5;
    height: 4.47rem;
    text-align: center;
    color: #737373;
    font-size: 1rem;
    margin-top: 0.5rem;

}
.close_sign_ok{
    width: 3.47rem;
    height: 3.47rem;
    line-height: 3.47rem;
    text-align: center;
    color: #fffff4;
    font-size: 2rem;
    background:rgba(0,0,0,.4);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    margin: 1.78rem auto 0;


}
.close_sign_ok:before{
    content:"\2715";
}
.sign_error{
    width: 13rem;
    height: 6rem;
    padding-top:1.5rem;
    background:rgba(0,0,0,.7);
    position: fixed;
    left: 50%;
    margin-left: -6.5rem;
    top: 50%;
    margin-top: -3rem;
    z-index: 9;
    animation: fadeIn 1s both;

}
@keyframes fadeIn {

    0% {

        opacity: 0;
        transform:scale3d(1,1,1);
    }
    50% {

        opacity: 1;
        transform:scale3d(1.2,1.2,1.2);
    }
    100% {

        opacity: 1;
        transform:scale3d(1,1,1);
    }
}
.error_Symbol{
    width: 2.06rem;
    height: 2.06rem;

    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    border-radius: 1.2rem;
    line-height: 2.06rem;
    text-align: center;
    color: #404040;
    font-size: 1.5rem;
    background:#ffffff;
    margin:0 auto;

}

.error_text{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 1rem;

}




















