.my_bank{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.nownum{
    width: 100%;
    height: 10rem;
    background:url("../../images/dbank/mybank_bg.png") 0 0 no-repeat;
    -webkit-background-size: 100% 10rem;
    background-size: 100% 10rem;
}
.showinfor{
    width: 100%;
    background: #ff800d;
    height: 15.75rem;
    position: relative;
}
.nowtext{
    padding-top: 1.8rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.moneynum{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    padding-top: 1rem;

}
.show_menu{
    height: 5.75rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, .2);
}
.show_menu span{
    display: block;
    width: 33%;
    float: left;
    text-align: center;
    color: #ffffff;
}
.tqll{
    background:url("../../images/dbank/showicon3.png") 3rem 1rem no-repeat;
    -webkit-background-size:1.7rem 2rem;
    background-size:1.7rem 2rem;
    padding-top: 3.5rem;
    height: 2.25rem;
}
.fxjl{
    background:url("../../images/dbank/showicon2.png") 3rem 1rem no-repeat;
    -webkit-background-size:2rem 2rem;
    background-size:2rem 2rem;
    padding-top:3.5rem;
    border-left: 1px solid #ffba58;
    border-right: 1px solid #ffba58;
    height: 2.25rem;
}
.dhjl{
    background:url("../../images/dbank/showicon1.png") 3rem 1rem no-repeat;
    -webkit-background-size:2rem 2rem;
    background-size:2rem 2rem;
    padding-top: 3.5rem;
    height: 2.25rem;
}
.my_get{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    background: #ffffff;
}
.getbi{
    padding: 1rem 0;
    width: 95.6%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    height: auto;
    overflow: hidden;

}
.getbi:last-child{
    border:none;
}
.get_left{
    width: 79%;
    overflow: hidden;

}
.fun,.result{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;

}

.fun{
    color: #1a1a1a;
}
.fun span{
    color: #ff7822;
}
.result{
    color: #999999;
    font-size: 0.875rem;
}

.get_href{
    width: 20%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #3ec179;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #3ec179;
    margin-top: 0.4rem;
    display: block;

}












