<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>口粮送你免费流量</title>
    <link rel="stylesheet" type="text/css" href="/css/share/main.css?v=20160914"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body style="background:#faf7f2">

<div class="page7">
            <img src="/images/share/kl_head2.png"  width="100%" />
            <div class="header1">
                <img data-sharer src="/images/share/head.jpg" alt="">
            </div>
            <div class="user">
                <strong></strong>
                <p>距离加入抢流量<span>仅剩一步</span>了喔~</p>
            </div>

            <div class="phoneNum">
                <div class="txt_phone">
                    <input id="txtPhone" type="tel" placeholder="请输入手机号" maxlength="11">
                </div>
                <div class="txt_code">
                    <input id="txtVerifycode" type="tel" placeholder="请输入验证码">
                    <img class="test_button" id="imgObj" src="/verificode/picandcode"/>
                </div>
                <div class="submit">
                    <input id="btnSubmit" type="submit" value="加入抢流量" id="btn_submit">
                </div>
            </div>
            <div id="message" class="message">
                <img src="/images/share/3_tanchuang.png" alt="" width="100%">
                <div class="info">
                </div>
                <div class="msg_btn">
                    <a id="download" href="/html/down.html"><img src="/images/share/3_tanchaung_btn.png" alt=""></a>
                </div>
            </div>
        </div>

<div id="mask"></div>
</body>
</html>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/share/setviewport.js"></script>
<script type="text/javascript" src="/js/share/preloadjs-0.6.0.min.js"></script>
<script type="text/javascript" src="/js/share/TweenMax.min.js"></script>
<script type="text/javascript">
    function getCookie(name, defaultValue) {
        var re = new RegExp(name + '=([^;]*);?', 'gi');
        var v = typeof defaultValue == "undefined" ? null : defaultValue;
        var r = re.exec(document.cookie) || [];
        return (r.length > 1 ? unescape(r[1]) : v);
    }
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    };
    var sharedToken = getUrlParam('sharedToken');
    if(!/\/api\/web\/lottery\/main/i.test(document.referrer)) window.location.href="/api/web/lottery/main?sharedToken="+sharedToken;
</script>
<script type="text/javascript">

    $('#txtPhone,#txtVerifycode').bind('focus',function(){
        $('.copyright').hide();
        //或者$('#viewport').height($(window).height()+'px');
    }).bind('blur',function(){
        $('.copyright').show();
        //或者$('#viewport').height('auto');
    });

    var shareUrl = window.location.href.replace(/#.*$/,"");
    $.ajax({
        url: "/wx/jsapi/signature?url="+encodeURIComponent(shareUrl),
        type: "get",
        dataType:"json",
        success: function (result) {
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: result.data.wxAppId, // 必填，公众号的唯一标识
                timestamp: result.data.timestamp, // 必填，生成签名的时间戳
                nonceStr: result.data.noncestr, // 必填，生成签名的随机串
                signature: result.data.signature,// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
    });
    wx.ready(function(){
        var option =  {
            title: '满地免费流量等你来捡', // 分享标题
            desc: "手指一动，每月2G-3G,和小伙伴一起来拿吧", // 分享描述
            link:"",
            imgUrl: "http://img.ruwe.cn/api/show/image?fileKey=9063dd1e7729dab637cae5f1f0598d8d" // 分享图标
        };
        wx.onMenuShareTimeline(option);
        wx.onMenuShareAppMessage(option);
        wx.onMenuShareQQ(option);
        wx.onMenuShareQZone(option);
    });
</script>
<script type="text/javascript">
    var sharedName= getCookie('sharedName','');
    if(sharedName.length==0) window.location.href="/api/web/lottery/main?sharedToken="+sharedToken;

    $('.user strong').html(sharedName+'&nbsp;的邀请');

    var sharedAvator = getCookie('sharedAvator');

    var iswx = /MicroMessenger/.test(navigator.userAgent);
    if(iswx){$(".txt_code").hide();}

    if(sharedAvator.length>0) $('img[data-sharer]').attr('src', "http://img.ruwe.cn/"+ sharedAvator);

    function verifyPhone(mobile) {
        if (mobile.match(/^(13|15|18|14|17)\d{9}$/) && mobile!= '') {
            return true;
        }else{
            alert("请输入正确的手机号码");
            return false;
        }
    };

    $('#btnSubmit').on('click',function(){
        var phonenum = $('#txtPhone').val();
        var vcode = $('#txtVerifycode').val();
        if(!verifyPhone(phonenum)) return;
        if(!iswx && vcode.length==0) {
            alert('请输入验证码');
            return false;
        }

        $.ajax({
            url:"/api/web/lottery/checkphone",
            type: "post",
            dataType:"json",
            data: {
                phone:phonenum,
                sharedToken:sharedToken,
                vcode:vcode
            },
            success:function(result)
            {
                if(result.status=="0"){
                    //校验成功
                    $('#message .info').html('<div class="success"><h3>恭喜你</h3>您已经与'+ sharedName +'成为好友<br/>赶紧下载口粮app抢流量吧~！</div>');
                    $("#message").show();
                    $('#mask').show();
                }else  if(result.status=="7"){
                    $('#message .info').html('<div class="error">您不是新用户或已参与过此活动<br/>赶紧下载口粮app抢流量吧~！</div>');
                    $("#message").show();
                    $('#mask').show();
                } else {
                    alert(result.msg);
                    $('#imgObj').trigger('click');
                    return false ;
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(textStatus);
            }
        });
    });

    $('#imgObj').click(function(){
        var src = $(this).attr("src");
        $(this).attr('src',chgUrl(src));
    });
    //时间戳
    //为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
    function chgUrl(url){
        var timestamp = (new Date()).valueOf();
        url = url.substring(0,22);
        if((url.indexOf("&")>=0)){
            url = url + "×tamp=" + timestamp;
        }else{
            url = url + "?timestamp=" + timestamp;
        }
        return url;
    }

    //pv
    $(function(){
        $('#download').on('click',function(){
            $.ajax({
                url:"/share/down/click/",
                type: "post",
                dataType:"json",
                success:function(result) {
                    console.log(result);
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                }
            });
        })
    })
</script>
