/*sj.css*/
/*react*/
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
		margin:0;
		padding:0;
		border:0;
		font-size:100%;
		font:inherit;
		vertical-align:baseline;
	}
	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0;
		padding:0;
	}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
		display:block;
	}
	body {
		line-height:1;
	}
	ol,ul {
		list-style:none;
	}
	blockquote,q {
		quotes:none;
	}
	blockquote:before,blockquote:after,q:before,q:after {
		content:'';
		content:none;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	input,button,a {
		border:none;
		margin:0;
		outline:none;
	}
	button,input:not([type=checkbox]):not([type=radio]),textarea {
		-webkit-appearance:none;
		-moz-appearance:none;
		border-radius:inherit;
		resize:none;
		font:inherit;
		color:inherit;
	}
	button,input[type=submit] {
		border:none;
		padding:0;
		margin:0;
		background:lightgrey;
	}
	button:hover,input[type=submit] {
		cursor:pointer;
	}
	img {
		display:block;
	}
	strong {
		font-weight:normal;
	}
	:focus {
	 	outline: 0;
	}
	a{ 
		text-decoration:none;
	}
	a:hover img{
		border:none;
	}
	.clearfix:after {
		content:"";
		display:block;
		clear:both;
		height:0;
	}
	.clearfix{
		zoom:1;
	}
	/*阿里妈妈字体图标*/
	@font-face {
		font-family: 'iconfont';
	    src: url('../icon/iconfont.eot'); /* IE9*/
	    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
	    url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	    url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
	}
	.iconfont {
	  font-family:"iconfont" !important;
	  font-size:16px;
	  font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
	}
	
	.wrapper{ 
		width:100%;
		background-color:#f5f5f5;
		position:relative;
		cursor:default;
		z-index:99999;
	}
	/*header*/
	.wrapper .header{ 
		position: relative;
	    width: 100%;
	    height: 60px; 
	    background: url(../img/nav_bg.png) no-repeat center top;
	    cursor: default;
	    z-index: 99;
	    min-width: 1200px;
	}
	.header_main{ 
		width: 1000px;
	    height: 54px;
	    margin: 0 auto;
	    color: #4a4a4a;
	    font-family: "宋体";
	    font-size: 16px;
	    overflow:hidden;
	}
	.header_logo{
		background:url(../img/logo_sj.png) no-repeat; 
		width:119px; 
		height:36px;
		text-indent:-99999em;
		margin-top:8px;
    	float:left;
	}
	.header_logo a{
		display:block;
		height:100%;
	}
	.header_nav{ 
		float:right;
	}
	.header_nav li{ 
		display: block;
	    position: relative;
	    float: left;
	    width: auto;
	    padding: 0 25px;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    border: 1px solid #E1E1E1;
	    border-bottom: none;
	    border-top: none;
	    margin-left: -1px;
	}
	.header_nav li a{ 
		color:#333333;
		font-size:16px;
		font-family:"微软雅黑";
		
	}
	
	.header_nav .header_nav_weixin_icon{ 
		display: inline-block;
	    width: 24px;
	    height: 24px;
	    margin: 14px 6px 0 0;
	    float: left;
	    -webkit-transition: -webkit-transform 0.5s ease-out;
	    -moz-transition: -moz-transform 0.5s ease-out;
	    transition: transform 0.5s ease-out;
	    background-image: url(../img/cyou_sprite.png);
    	background-repeat: no-repeat;
    	background-position: -164px 0px;
	}
	.header_nav_weixin a:hover .header_nav_weixin_icon{ 
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	.header_nav .header_nav_tel_icon{ 
		display: inline-block;
	    width: 24px;
	    height: 24px;
	    margin: 14px 6px 0 0;
	    float: left;
	    -webkit-transition: -webkit-transform 0.5s ease-out;
	    -moz-transition: -moz-transform 0.5s ease-out;
	    transition: transform 0.5s ease-out;
	    background-image: url(../img/cyou_sprite.png);
    	background-repeat: no-repeat;
    	background-position: 0 -104px;
	}
	.header_nav li a:hover{ 
		color:#ed1c24;
	}
	.header_nav_tel a:hover .header_nav_tel_icon{ 
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	.section{ 
		width: 100%;
	    position: relative;
	    top: -5px;
	    z-index: 100;
	    background: #fff;
	    font-family:"微软雅黑";
	}
	.banner{
	    position: relative;
	    width: 980px;
	    margin: 0 auto;

	}
	/*section*/
	.section .sb-slider{
		height:551px;
	}
	.banner_arrow span{
 	    width: 42px;
	    height: 42px;
	    background: #cbbfae url(../img/nav.png) no-repeat top left;
	    position: absolute;
	    top: 50%;
	    left: 2px;
	    text-indent: -9000px;
	    cursor: pointer;
	    margin-top: -21px;
	    opacity: 0.9;
	    border-radius: 21px;
	    box-shadow: 0 1px 1px rgba(255,255,255,0.8);
	    display:block;
	 }
	.banner_arrow span:hover{
	 	opacity:1;
	}
	#banner_prev{
		left: auto;
    	right: 2px;
    	background-position: top right;
	}
	
	.aboutUs,.us_service{
	    position: relative;
	    width: 100%;
	    min-width:1200px;
	    margin: 0 auto;
	    background-color:#ffffff;
	}
	/* .aboutUs_title{
	    text-align: center;
	    font-size: 35px;
	    padding: 35px 0;
	    color:#000000;
	} */
	.au_left{ 
		width:1200px;
		background:url(../img/wemsg_bg.png) no-repeat center top;
		
		margin-top:30px;
		margin:30px auto 0 auto;
		position:relative;
		z-index:99;
	}
	.au_left p{ 
		text-align:center;
	}
	.au_left .au_titEN{ 
		width:100%;
		padding-top:24px;
		padding-bottom:16px;
		font-size:35px;
		color:#000;
		opacity: 0.5;
	}
	.au_left .au_titCN{ 
		width:100%;
		padding-bottom:32px;
		font-size:30px;
		color:#000;
		opacity: 0.9;
	}
	.aboutUs .au_details{
		width:100%;
		padding:0 120px 24px 120px;
		font-size:20px;
		line-height:28px;
		color:#6a5f5f;
		text-indent:2em;
		text-align:left;
	}

	.au_left a{ 
		display:block;
		width:160px;
		height:40px;
		border-radius:4px;
		color:#706e6e;
		border:1px solid #706e6e;
		font-size:20px;
		line-height:36px;
		text-align:center;
		margin-left:530px;
		background-color:#fff;
		margin-bottom:30px;
	}
	.au_left a:hover{
		-webkit-animation:bg_opacity 0.4s ease-out forwards;
	    -moz-animation:bg_opacity 0.4s ease-out forwards;
	    animation:bg_opacity 0.4s ease-out forwards;
		background-color:rgba(237,28,36,0.78);
		color:#fff;
		border:1px solid rgba(237,28,36,0.78);

	}

	.aboutUsPic li{
		width:25%;
		float:left;
	}
	.aboutUsPic li a{
		width:100%;
		display:block;
	}
	.aboutUsPic li a{
		width:100%;
	}
	@keyframes bg_opacity{
	    0%{opacity:0;}
	    100%{opacity:1;}
	}
	@-moz-keyframes bg_opacity{
	    0%{opacity:0;}
	    100%{opacity:1;}
	}
	@-webkit-keyframes bg_opacity{
	    0%{opacity:0;}
	    100%{opacity:1;}
	}
	@keyframes bg_opacity2{
	    0%{opacity:0.7;}
	    100%{opacity:0;}
	}
	@-moz-keyframes bg_opacity2{
	    0%{opacity:0.7;}
	    100%{opacity:0;}
	}
	@-webkit-keyframes bg_opacity2{
	    0%{opacity:0.7;}
	    100%{opacity:0;}
	}
	.au_right{
		position:relative; 	
		width:100%;
		font-size:20px;
	}
	.au_intr{
		width:25%;
		height:150px;
		border:1px solid rgba(0,0,0,0.38);
		float:left;
		cursor:pointer;
		margin:0 -1px -1px 0;
	}
	.au_intr p{ 
		color:#000000;
		width:100%;
		text-align:center;
		margin-top:30px;
		margin-bottom:4px;
	}
	.au_intr div{ 
		color:#cecece;
		width:100%;
		text-align:center;
		margin-bottom:12px;
	}
	.myicon{ 
		font-size: 32px;
		margin-left:134px;
	    color: #6a5f5f;
	}
	.au_intr:hover{ 
		background-color:rgba(237,28,36,0.78);
		border:1px solid rgba(237,28,36,0.78);
		-webkit-animation:bg_opacity 0.4s ease-out forwards;
	    -moz-animation:bg_opacity 0.4s ease-out forwards;
	    animation:bg_opacity 0.4s ease-out forwards;
	}
	.au_intr:hover p,.au_intr:hover div,.au_intr:hover i{
		color:#fff;
	}
	.swiper-container {
        width: 100%;
        height: 600px;
        min-width:1200px;
        overflow:hidden;
        margin:0 auto;
        position:relative;
    	color: #f6f6f6;
    	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    	z-index:99;
    	 
   
    }
    .swiper-container img{ 
		width:100%;
		height:100%;
    }
    .swiper-container h2{ 
		font-size:40px;
		font-family: '微软雅黑';
		position:absolute;
	    z-index: 200;
	    top: 220px;
	    left: 100px;
    }
     .swiper-container p{ 
		font-size:32px;
		font-family: '微软雅黑';
		position:absolute;
	    z-index: 200;
	    top: 320px;
	    left: 100px;
    }
    .choice_us_pic{
		width:1200px;
		margin:0 auto;
		padding-top:20px;
		padding-bottom:30px;
		background-color:#ffffff;
		position:relative;
		z-index:98;
    }
    .choice_us_pic img{
		width:100%;
    }
	
	.cust_show{ 
		width:1200px;
		margin:0 auto;
		line-height:36px;
		position:relative;
		z-index:99;
	}

	.case_show{
		width: 1020px;
	    margin: 0 auto;
	    overflow: hidden;
	    position:relative;
	    z-index:50;
	}
	.case_show li{
	    width: 235px;
	    overflow: hidden;
	    height: 276px;
	    float: left;
	    margin: 20px 10px 0px 10px;
	    position: relative;
	}
	.case_show li.one {
	    width: 490px;
	    position:relative;
	}
	.case_show li .mask{
	 	width:100%;
		background-color:#000000;
	    height: 276px;
    	opacity:0.7;
    	filter:alpha(opacity:70);
    	position:absolute; 
    	top:0; 
    	left:0;
	} 
	.case_show li .mask:hover{
		-webkit-animation:bg_opacity2 0.8s ease-out forwards;
	    -moz-animation:bg_opacity2 0.8s ease-out forwards;
	    animation:bg_opacity2 0.8s ease-out forwards;
	}
	/* .cust_show p{
		width:180px;
		margin:0 auto;
		padding-top:44px;
		padding-bottom:4px;
		font-size:20px;
		color: rgba(0,0,0,0.4);
		font-family:"微软雅黑";
	}
	.cust_show .bottom_line{ 
		width:40px;
		height:2px;
		background-color: rgba(0,0,0,0.4);
		position:absolute;
		left:50%;
		margin-left:-30px;
		z-index:201;
		display:block;
	}
	.cust_show img { 
		padding-top:34px;
		padding-bottom:40px;
		width:100%;
		cursor:pointer;
	}
	 
	.cust_show a{ 
		display:block;
		width:160px;
		height:34px;
		border-radius:4px;
		color:#706e6e;
		border:1px solid #706e6e;
		font-size:20px;
		line-height:30px;
		text-align:center;
		margin:0 auto;
		margin-bottom:20px;
	}
	.cust_show a:hover{
		-webkit-animation:bg_opacity 0.4s ease-out forwards;
	    -moz-animation:bg_opacity 0.4s ease-out forwards;
	    animation:bg_opacity 0.4s ease-out forwards;
		background-color:rgba(237,28,36,0.78);
		color:#fff;
		border:1px solid rgba(237,28,36,0.78);

	}*/
/* 	.myaddress{ 
	width:980px;
	margin:0 auto;
	background-color:#fff;
}
.address{
	width:100%;
	height:400px;
	padding-top:20px;
	padding-bottom:20px;
	margin:0 auto;
} */
	.contact_usNew{
		width:100%;
		min-height: 100px;
	    padding: 70px 0;
	    background: url(../img/14.jpg) center top no-repeat;
	    background-size: cover;
	}
	.contact_usNewCenter{
		width: 1200px;
    	margin: 0px auto;
	}
	.contact_box{
		padding-left: 50%;
    	font-size: 14px;
    	line-height: 28px;
	}
	.contact_box .title{
		font-size: 30px;
    	padding: 0 0 20px 0;
	}
	.contact_box .e_mail{
		color:#000;
	}
	.contact_box .e_mail:hover{
		color:#ed1c24;
	}
	.contact_box .btnDiv{
		font-size:18px;
		padding-top:12px;
	}
	.contact_box .btnDiv a{
	    display: block;
	    width: 256px;
	    height: 38px;
	    line-height: 38px;
	    text-align: center;
	    border:1px solid #ed1c24;
	    border-radius:4px;
	}
	.contact_us{ 
		width:100%;
		margin:0 auto;
		background-color:#e1e1e1;
	}
	.contact_us_center{ 
		width:1200px;
		margin:0 auto;

	}
	.contact_us_centerL{ 
		width:275px;
		float:left;
		margin-top:20px;
		margin-bottom:20px;
		margin-right:50px;
	}
	
	.contact_us_centerL dt{
	    margin-bottom: 10px;
	    color: #333;
	    font-size: 16px;
	    line-height: 20px;
	    font-family: "微软雅黑";
	}
	.contact_us_centerL dd{
		float: left;
	    width: 100px;
	    margin-right: 35px;
	    display: inline;
	    border-bottom: 1px dashed #666;
	    text-align:center;
	}
	.contact_us_centerL dd a{
	    color: #999;
	    font-size: 12px;
	    line-height: 28px;
	}
	.contact_us_centerL dd a:hover{
		color:#ed1c24;
	}
	.contact_us_centerC{ 
		width:275px;
		margin-right:50px;
		float:left;
		margin-top:20px;
		margin-bottom:20px;
	 }
	.contact_us_centerC h3{ 
	 	width: 275px;
	    margin-bottom: 10px;
	    color: #333;
	    font-size: 16px;
	    line-height: 20px;
	    font-family: "微软雅黑";
	   
	}
	.contact_us_centerC p{ 
	    margin-top: 5px;
	    width: 275px;
	    color: #999;
	    font-size: 12px;
	    line-height: 22px;
	    font-family: "微软雅黑";
	}
	.contact_us_centerR{ 
		float:left;
		margin-top:20px;
		margin-bottom:20px;
	}
	.contact_us_centerR .weixin_box{ 
		width:140px;
		height:170px;
		background-color:#ffffff;
		border:1px solid #898989;
		float:left;
	}
	.contact_us_centerR .weixin_box .weixin{
		width:120px;
		height:120px;
		background:url(../img/code2.png) no-repeat center;
		background-size:cover;
		margin:0px auto;

	}
	.contact_us_centerR .weibo_box{ 
		width:140px;
		height:170px;
		background-color:#ffffff;
		border:1px solid #898989;
		float:left;
		margin-left:48px;
	}
	.contact_us_centerR .weibo_box .weibo{
		width:120px;
		height:150px;
		position:relative;
		margin:10px auto;
		background-color:#e9e9e9;
		z-index:99;
	}
	.weibo_bg{
		width:80px;
		height:80px;
		background:url(../img/weibo.png) no-repeat center;
		background-size:cover;
		position:absolute;
		top:5px;
		left:50%;
		margin-left:-40px;
		z-index:200;
	}
	.weibo p{ 
		text-align:center;
		color:#ed1c24;
		padding-top:90px;
		font-family:"微软雅黑";
		font-size:14px;
		line-height:18px;
	}

	/*footer*/
	.footer{
		width: 100%;
		min-width: 1200px;
		height: 108px;
		background: #333333;
		font-family: "宋体";
		font-size: 12px;
		color: #ffffff;
		position: relative;
    	top: -5px;
	}
	.footer .nav_f {
	    padding-top: 10px;
	    height: 24px;
	    text-align: center;
	    line-height: 24px;
	}
	.footer .nav_f a{
		color: #ffffff;
	}
	.footer p{
		color: #A8A9AA;
	    text-align: center;
    	line-height: 20px;
	}
	/*回到顶部*/
	.bt{ 
		width:80px; 
		height:40px;  
		background:url(../img/return.png) no-repeat; 
		cursor:pointer; 
		position:fixed; 
		right:20px; 
		bottom:120px; 
		display:none;
		z-index:999;
	}