.skill_banner{
	width:100%;
	height:399px;
	min-width:1200px;
	background: url(../img/skill.jpg) no-repeat;
	background-size:100% 100%;
	animation: white_animation 0.8s linear forwards;
	-ms-animation: white_animation 0.8s linear forwards;
	-webkit-animation: white_animation 0.8s linear forwards;
	-moz-animation: white_animation 0.8s linear forwards;
	border-bottom:3px solid #ed1c24;
}

.skill_con{
	width:100%;
    overflow: hidden;
    min-height: 773px;
    margin: 0 auto;
}

.skill_nav{
	width:1200px;
    margin: 0 auto 60px;
    background-color:#fff;
    padding-bottom: 50px;
}

.skill_nav ul{
	padding-top:20px;
	padding-bottom:20px;
}
.skill_nav li{
	float: left;
    padding-left: 54px;
}
.skill_nav li i{
	font-size:16px;
	color:#ed1c24;
}
.skill_nav li a{
	font-size:16px;
	color:#555;
	line-height:18px;
}
.skill_nav li a:hover{
	color:#ed1c24;
}
.skill_txt{
	width:100%;
	margin:0 auto;
	background-color:#fff;
	padding-top:20px;
}
.skill_tit{
	width: 1000px;
	margin:0 auto;
	display:none;
}
.skill_tit h3{
    width: 1000px;  
    color: #ed1c24;
    border-bottom: 1px solid #ddd;
    font-size: 36px;
    font-weight: bold;
    line-height: 75px;
    margin-top: 15px;
    padding: 15px 0;
}
.skill_tit h4{
	color:#004ea1;
	font-size: 26px;
	line-height:56px;
}
.skill_tit img{
	width:700px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:50px;
}
.skill_tit p{
	margin-top:20px;
	line-height:50px;
	font-size:16px;
	color:#333;
	text-indent:2em;
}
@-webkit-keyframes white_animation{ 
	0%{ 
		-webkit-transform:scale(0, 1);
	}
	100%{ 
		-webkit-transform:scale(1, 1);
	}
}
.skill_navbox li{
	cursor: pointer;
}
.skill_navbox li.active{
	color:#ed1c24;
}

.skill_tit.on{
	display:block;
}
