<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta  content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../css/chongzhi.css"/>
    <title>赞助商</title>
</head>
<body>
    <div class="ad">
        <p class="adtitle">
            感谢“中国东方航空500M流量卡”赞助方
        </p>
        <section class="big">
            <img src="../images/bigguanggao.png"/>
            <img src="../images/bigguanggao.png"/>
        </section>
        <section class="small">
            <img src="../images/small.png"/>
            <img src="../images/small.png"/>
            <img src="../images/small.png"/>
            <img src="../images/small.png"/>
            <img src="../images/small.png"/>
            <img src="../images/small.png"/>
        </section>
    </div>
</body>
</html>