html{
	font-size:100px;
}
body {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	visibility: hidden;
	width: 100%;
	min-height: 100%;
	background-color: #f1f1f1;	
}

/*
	兑换流量
*/
.fill_in_tel{
	position: relative;
	width: 100%;
	top:0.4rem;
	left: 0;
	height: 1.42rem;
}
.fill_in_tel input{
	width: 100%;
	border: none;
	outline: none;
	background-color: #fff;
	padding: 0.47rem 0 0.47rem 0.32rem; 
	font-size: 0.48rem;
	color: #2a2a2a;
	vertical-align: middle;
}

.fill_in_tel span{
	position: absolute;
	left: 4.18rem;
	top:0.6rem;
	font-size: 0.28rem;
	color: #6a6a6a; 
}
.traffic{
	width: 100%;
	background-color: #fff;
	position: relative;
	top:0.8rem;
	left: 0;
}	
.traffic_btn_box{
	width: 7.04rem;
	padding-top:0.32rem;
	margin:0 auto;
	overflow: hidden;
}
.traffic_btn{
	width:2.18rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	float: left;
	margin-bottom: 0.3rem;
	border: 1px solid #cacaca;
	border-radius: 6px;
	margin-right: 0.15rem;
	font-size: 0.32rem;
}
.traffic_btn:nth-child(3n){
	margin-right: 0rem;
}

.money_num{
	position: relative;
	top:1.16rem;
	left: 0.24rem;
	font-size: 0.32rem;
	color: #999;
}
.money_num .money_color{
	color:#ff5000;
}

.prepaid_btn{
	display: block;
	position: relative;
	top:1.54rem;
	width: 93.6%;
	height: 0.72rem;
	line-height: 0.72rem;
	color: #fff;
	font-size: 0.32rem;
	background-color: #3ec179;
	margin: 0 auto;
	text-align: center;
	border-radius: 6px;
}
.active{
	background-color: #3ec179;
	color: #fff;
	border: none;
}

.com_problems{
	position: absolute;
	top:7.3rem;
	right:0.16rem;
	color:#5787bd;
	font-size: 0.3rem;
}

  /*
	充值详情
  */

.charge_state{
	padding-top:0.5rem;
	width:100%;
	background-color:#fff;
}

.state_icon{
	width: 1.45rem;
	height: 1.45rem;
	margin:0 auto 0.44rem;
	background: url(charge/suc_icon.png) no-repeat;
	background-size:100% 100%;
}
.state_msg{
	width: 100%;
	padding-bottom: 0.3rem;
}
.state_msg h5{
	width: 100%;
	text-align: center;
	font-size:0.36rem;
	color: #2a2a2a;
	margin-bottom: 0.1rem;
}
.state_msg p{
	width: 100%;
	text-align: center;
	line-height: 0.48rem;
	font-size: 0.28rem;
	color:#8e8d8d;
}
.state_msg p a{
	color:#3ec179;
}

.user_info{
	width: 6.92rem;
	margin:0 auto;
}

.user_info p{
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	border-top:1px solid #dbdbdb;
}

.user_info p span{
	display: block;
	float: left;
	font-size: 0.28rem;
	color: #999999;
}

.user_info p i{
	display: block;
	float: right;
	font-size: 0.32rem;
	color: #2a2a2a;
	margin-right: 0.1rem;
}
.Warm_remind{
	margin-top: 0.3rem;
	float: right;
	margin-right: 0.38rem;
	font-size: 0.3rem;	
}
.Warm_remind a{
	color:#5787bd;
}
.Warm_remind i{
	display: block;
	width: 0.32rem;
	height: 0.32rem;
	background: url(charge/remind_icon.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	margin-right: 0.12rem;
}

/*查询*/
.query_tit{
	font-size:0.28rem;
	color: #999;
	width:100%;
	text-align: center;
	padding-top:0.5rem;
	padding-bottom:0.14rem;
}
.user_infobox{
	width: 6.54rem;
	margin: 0 auto;
	position: relative;
}
.user_querytel,.user_querypwd{
	width: 100%;
	position: relative;
	height: 0.98rem;
	line-height: 0.98rem;
	border:1px solid #dbdbdb;
	border-radius:0.49rem;
	background-color: #fff;
	margin-top:0.3rem;
}
.querytel_icon{
	position: absolute;
	width:0.36rem;
	height: 0.46rem;
	background:url(charge/query_tel.png) no-repeat;
	background-size: 100% 100%;
	left: 0.46rem;
	top:0.27rem;
}

.querytel_icon_on{
	background:url(charge/query_tel_focus.png) no-repeat;
}
.querypwd_icon{
	position: absolute;
	width:0.34rem;
	height: 0.46rem;
	background:url(charge/query_pwd.png) no-repeat;
	background-size: 100% 100%;
	left: 0.46rem;
	top:0.27rem;
}
.querypwd_icon_on{
	background:url(charge/query_pwd_focus.png) no-repeat;
}
.querytel_input{
	width:5.38rem;
	height: 0.32rem;
    line-height: 0.32rem !important;
	_padding-left: 1.16rem;
	font-size: 0.32rem;
	display:block; 
	border-radius:0.49rem;
	outline: none;
	border:none;
	position: absolute;
	top:0.28rem;
	left: 1.16rem;
}

.auth_code{
	color: #3ec179;
	font-size: 0.32rem;
	display: block;
	line-height: 0.4rem;
	height: 0.4rem;
	width: 2.1rem;
	position: absolute;
	left: 4.04rem;
	top:0.28rem;
	text-align: right;
	border-left: 1px solid #cacaca;
}

.query_search_btn{
	width: 6.54rem;
	height: 0.98rem;
	line-height: 0.98rem;
	text-align: center;
	border-radius:0.49rem;
	font-size: 0.34rem;
	color: #fff;
	background-color: #3ec179;
	margin-top: 0.5rem;
	display: block;
}

/*充值记录*/
.prepaid{
	width: 6.90rem;
	height: 3.34rem;
	background:url(charge/prepaid_bg.png) no-repeat;
	background-size: 100% 100%;
	margin: 0.3rem auto 0;
	position: relative;
}
.pre_traffic{
	position: absolute;
	left: 0.46rem;
	top:0.62rem;
	color: #fff;
}
.pre_traffic .pre_traffic_num{
	font-size: 0.9rem;
}
.pre_traffic span{
	font-size: 0.28rem;
}

.prepaid_succeed .pre_state_icon{
	width: 1.76rem;
	height: 1.22rem;
	background:url(charge/prepaid_succeed.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.8rem;
	top: 0.3rem;
}

.prepaid_going .pre_state_icon{
	width: 1.76rem;
	height: 1.22rem;
	background:url(charge/prepaid_going.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.8rem;
	top: 0.3rem;
}
.prepaid_failed .pre_state_icon{
	width: 1.76rem;
	height: 1.22rem;
	background:url(charge/prepaid_failed.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 4.8rem;
	top: 0.3rem;
}

.pre_infobox{
	font-size: 0.24rem;
	color: #f5f5f5;
	position: absolute;
	left: 0.3rem;
	top:2.46rem;
}
.pre_infotime{
	margin-top: 0.08rem;
}

.pre_refund{
	font-size: 0.30rem;
	color: #f5f5f5;
	position: absolute;
	left: 5.28rem;
	top:2.56rem;
}
















