@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas,a{
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

html,body {
    font-size: 22px;
    color: #FFFFFF;
    font-family: helvetica, Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #3ec179;
    -webkit-touch-callout:none; /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select:none; /* 禁用长触选择文字等功能 */
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    　　color:#fff!important;
}
.hide{ display: none;}

.loading{ position: absolute; top: 50%; left: 50%; margin:-120px 0 0 -40px; width: 76px;}
/*.loadingicon{ background: url("/images/share/loadingicon.png") no-repeat; width: 76px; height: 100px; margin-bottom: 26px;}*/
.loadingtxt{ font-size: 24px; color: #FFFFFF; text-align: center; margin-top: 45px;}

.main{ display: none; width: 100%; height: 100%;position: relative; overflow: hidden;}
.page{ width: 100%; height: 100%;  position: absolute;}
.page>div{ width: 100%; height: 100%; overflow: hidden;position: absolute;left:0;top:0;background-repeat: no-repeat;background-position: center center;}


.page5{background-image: url("/images/share/kl_background.png");}
.page5>div{position: absolute;}
.header{width:150px;height:150px;border-radius:50%;border:#3ec179 5px solid;display:block;overflow:hidden!important;margin:0 auto;margin-top:-340px;position:relative;}
.header img{width:100%;height:100%;border-radius:50%;}
.header_msg{width:80px;height:80px;border-radius:10px;overflow:hidden;position:absolute;left:20px;}
.header_msg img{width:100%;height:100%;}
.userInfo{color:#000;font-size:30px;width:100%;text-align:center;position:absolute;top:250px;line-height:55px;}
.userInfo strong{font-weight:normal;font-size:30px}
.userInfo p{font-size:30px}
.userInfo span{font-size:36px;color:#3ec179;}
.page5_1{width:100%;text-align:center;}
.page5_2{width:100%;top:450px;position:absolute;}
.page5_2 .msg{margin-left:110px;width:65%}
.page5_3{width:100%;top:600px;}
.page5_3 .msg{margin-left:110px;width:65%}
.page5_4{width:100%;top:750px;position:absolute;}
.page5_4 .msg{margin-left:110px;width:65%}
/*.page5_4 .header_icon{width:80px;height:80px;border-radius:10px;overflow:hidden;position:absolute;right:20px;}*/
/*.page5_4 .header_icon img{width:100%;height:100%}*/
/*.page5_4 .msg1{position:absolute;left:65%;top:5%}*/
.page5_5{position:absolute;top:760px;left:65%}
/*.page6{background-image: url("/images/share/2_background.png");}*/
/*.page6>div{ position: absolute;}*/
/*.page6_1{width:100%;top:20%;text-align:center;}*/
/*.page6_1 .header_m{width:150px;height:150px;border-radius:15px;display:block;position:absolute;top:15%;left:50%;margin-left:-75px;overflow:hidden;}*/
/*.page6_1 .header_m img{width:100%;height:100%;}*/
/*.page6_1 .user{color:#000;font-size:30px;width:100%;text-align:center;position:absolute;line-height:50px;padding-top:30%;color:#fff;}*/
/*.page6_1 .user p{font-size:25px;}*/
/*.page6_2{width:100%;bottom:17%;text-align:center}*/

.page7{background:#faf7f2;}
/*.page7>div{position: absolute;}*/
.page7 .header1{width:120px;height:120px;border-radius:50%;border:none;display:block;margin-top: -75px!important;overflow:hidden;margin:0 auto}
.page7 .header1 img{width:100%;height:100%;}
.page7 .header_msg{width:100px;height:100px;border-radius:10px;overflow:hidden;position:absolute;left:10px;}
.page7 .header_msg img{width:100%;height:100%;}
.page7 .user{color:#000;font-size:28px;width:100%;text-align:center;margin-top:20px;line-height:50px;}
.page7 .user strong{font-weight:normal;font-size:30px;}
.page7 .user p{font-size:30px;margin-top:30px;}
.page7 .user span{font-size:42px;color:#6989c2;}
.page7_1{width:100%;text-align:center;}

.page7 .phoneNum {width:100%;margin-top:80px}
.page7 .phoneNum .txt_phone{width:80%;margin:30px auto;}
.page7 .phoneNum .txt_code{width:80%;margin:30px auto; position:relative}
.page7 .phoneNum .test_button{position:absolute;right:15px;top:22px;height:60px;}
.page7 .phoneNum .txt_phone input,.page7 .phoneNum .txt_code input{outline:none;width:100%;height:100px;background:none;border-radius:50px;border:#d2d2d2 2px solid;text-align:left;font-size:32px;color:#333;text-indent:40px;-webkit-appearance: none;}
.page7 .phoneNum .submit{width:80%;margin:0 auto;}
.page7 .phoneNum .submit input{ourline:none;background:#ffd630;display:block;width:100%;height:100px;border-radius:50px;border:none;font-size:36px;color:#db9f0e;}


.copyright{width:100%;text-align:center;line-height:30px;font-size:20px;color:#6989c2;position:absolute;bottom:10px;}
.copyright .link{text-decoration:underline;color:#6989c2;font-style:normal;
    display:inline;}

#mask{width:100%;height:100%;background:#000;opacity:0.7;position:fixed;top:0;left:0;display:none}
.message{width:80%;display:none;z-index:9999;position:absolute;width:480px;top:20%;left:50%;margin-left:-240px;}
/*.message img{width:100%;height:100%}*/
.message .info{position: absolute;width:100%;height:100%;top:0;left:0;color: #323232;text-align: center;line-height: 60px; font-size:30px;}
.message .success {width:90%;margin-top:185px;padding: 0 5%;}
.message .error{width:100%;margin-top:250px;}
.message .success h3{font-size:44px;color:#feb42c;margin-bottom:20px;}
.message .msg_btn{text-align:center;position:absolute;bottom:30px;width:100%;}
/*.message .msg_btn img{width:75%;}*/


/*音乐按钮*/
.musicicon{ background: url("/images/share/musicicon.png") no-repeat; width: 60px; height: 60px; position: absolute; top: 20px; right: 20px;}
/*按钮旋转*/
.musicrotate{-webkit-animation: xuanzhuan 5s infinite linear; animation: xuanzhuan 5s infinite linear;}
@keyframes xuanzhuan {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}
@-webkit-keyframes xuanzhuan {
    0% { -webkit-transform: rotate(0deg)}
    100% { -webkit-transform: rotate(360deg)}
}
/*按钮旋转*/

.loader {
    width: 50px;
    height: 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loader > div {
    content: " ";
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: shift 2s linear infinite;
    animation: shift 2s linear infinite;
}
.loader > div:nth-of-type(1) {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
}
.loader > div:nth-of-type(2) {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
.loader > div:nth-of-type(3) {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.loader > div:nth-of-type(4) {
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}

@-webkit-keyframes shift {
    0% {
        left: -30px;
        opacity: 0;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 50px;
        opacity: 1;
    }
    100% {
        left: 80px;
        opacity: 0;
    }
}

@keyframes shift {
    0% {
        left: -30px;
        opacity: 0;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 50px;
        opacity: 1;
    }
    100% {
        left: 80px;
        opacity: 0;
    }
}