@charset "utf-8";
html,
body {
    -webkit-touch-callout: none;
    /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select: none;
    /* 禁用长触选择文字等功能 */
}

.hide {
    display: none;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.page>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
}

.page img {
    width: 100%;
    display: block;
}

.page1 {
    background: url(../img/novice_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.page1_1 {
    position: absolute;
    left: 0;
    top: 0;
}

.page1 .page1_1 img {
    width: 100%;
    height: 100%;
    display: block;
}

.page1_2 {
    width: 4.01rem;
    height: 2.17rem;
    position: absolute;
    left: 1.60rem;
    top: 4.8rem;
}

.page1_3 {
    width: 2.70rem;
    height: 0.98rem;
    position: absolute;
    left: 2.30rem;
    top: 8rem;
}

.page2 {
    background: url(../img/novice_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.page2 .page2_1 img {
    height: 100%;
    width: 100%;
    display: block;
}

.page2_1 {
    position: absolute;
    left: 0;
    top: 0;
}

.page2_2 {
    width: 2.80rem;
    height: 1.51rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1.495rem 0 0 -1.3rem;
}

.page2_3 {
    width: 2.70rem;
    height: 0.98rem;
    position: absolute;
    left: 2.30rem;
    top: 8rem;
}

.page3 {
    background: url(../img/novice_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.page3 .page3_1 img {
    height: 100%;
    width: 100%;
    display: block;
}

.page3_1 {
    position: absolute;
    left: 0;
    top: 0;
}

.page3_2 {
    width: 3.18rem;
    height: 2.18rem;
    position: absolute;
    left: 0.92rem;
    top: 9.25rem;
}

.page3_3 {
    width: 2.70rem;
    height: 0.98rem;
    position: absolute;
    left: 2.30rem;
    top: 7rem;
}

.page4 {
    background: url(../img/novice_bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.page4 .page4_1 img {
    height: 100%;
    width: 100%;
    display: block;
}

.page4_1 {
    position: absolute;
    left: 0;
    top: 0;
}

.page4_2 {
    width: 3.64rem;
    height: 2.70rem;
    position: absolute;
    left: 3.24rem;
    top: 9rem;
}

.page4_3 {
    width: 3.40rem;
    height: 0.98rem;
    position: absolute;
    left: 2.30rem;
    top: 7rem;
}


/*音乐按钮*/

.musicicon {
    background: url("../img/musicicon.png") no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index:20;
}


/*按钮旋转*/

.musicrotate {
    -webkit-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
